<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446843853138-p8jbfo7k421be6g9eqga3mm2kjrilmoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446843853138-p8jbfo7k421be6g9eqga3mm2kjrilmoa</string>
	<key>API_KEY</key>
	<string>AIzaSyA80VkTHTPC9nI2Zs4rglcZaZSSvE0lS6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>446843853138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdogan.iserteknikbeta</string>
	<key>PROJECT_ID</key>
	<string>iser-teknik</string>
	<key>STORAGE_BUCKET</key>
	<string>iser-teknik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:446843853138:ios:fcca258d6c73cb38</string>
	<key>DATABASE_URL</key>
	<string>https://iser-teknik.firebaseio.com</string>
</dict>
</plist>
